/Stopwatch.X/build/default/
/Stopwatch.X/dist/default/
/StopwatchII.X/nbproject/private/
/StopwatchII.X/build/default/
/StopwatchII.X/dist/default/
/LCD.X/nbproject/private/
/LCD.X/build/default/
/LCD.X/dist/default/
/Voltmeter.X/nbproject/private/
/Voltmeter.X/build/default/
/Voltmeter.X/dist/default/